{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          ">1%",
          "not ie 10",
          "not op_mini all"
        ]
      }
    }]
  ],
  "plugins": [
      "istanbul",
      [ "@babel/plugin-proposal-decorators", { "legacy": true } ]
  ]
}
